{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "no-empty-source": null,
    "selector-class-pattern": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "shorthand-property-no-redundant-values": null,
    "color-function-alias-notation": null,
    "alpha-value-notation": null,
    "number-max-precision": null,
    "no-descending-specificity": null,
    "color-function-notation": null
  }
}
